# Logs
logs
*.log

# Report
.nyc_output/*

# Coverage directory used by tools like istanbul
coverage/*

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

.DS_Store

.env
.env.backup

data

.vscode/*

:memory

.idea

.DS_Store
